# 项目排除路径
/target/
/src/main/resources/application.yml
/wechat_app/app.js
/wechat_app/project.config.json
/src/main/java/work/likecu/share/util/FileUpload.java
/src/main/java/work/likecu/share/util/uploadWeb.java
/wechat_app.rar