<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.likecu.share.mapper.CardMapper">
    <resultMap id="BaseResultMap" type="work.likecu.share.model.Card">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="card_id" jdbcType="INTEGER" property="cardId"/>
        <result column="given_number" jdbcType="INTEGER" property="givenNumber"/>
        <result column="card_name" jdbcType="VARCHAR" property="cardName"/>
        <result column="card_info" jdbcType="VARCHAR" property="cardInfo"/>
        <result column="setting_time" jdbcType="TIMESTAMP" property="settingTime"/>
        <result column="max_number" jdbcType="INTEGER" property="maxNumber"/>
        <result column="is_group" jdbcType="INTEGER" property="isGroup"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>

    </resultMap>
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        card_id,given_number,card_name,card_info,setting_time,max_number
    </sql>



</mapper>