<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.likecu.share.mapper.SignUsersMapper">
    <resultMap id="BaseResultMap" type="work.likecu.share.model.SignUsers" autoMapping="true">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="sign_type" jdbcType="INTEGER" property="signType"/>
        <result column="counter" jdbcType="INTEGER" property="counter"/>
        <result column="sign_time" jdbcType="TIMESTAMP" property="signtime" />
        <result column="is_group" jdbcType="INTEGER" property="isGroup"/>
        <association property="userMessage" javaType="work.likecu.share.model.UserMessage">
            <id column="user_id" jdbcType="INTEGER" property="userId"/>
            <result column="user_city" jdbcType="VARCHAR" property="userCity"/>
            <result column="user_nickname" jdbcType="VARCHAR" property="userNickname"/>
            <result column="user_gender" jdbcType="TINYINT" property="userGender"/>
            <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar"/>
            <result column="user_motto" jdbcType="VARCHAR" property="userMotto"/>
        </association>
    </resultMap>
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        user_id,group_id,sign_type,counter,sign_time,is_group,id
    </sql>

    <select id="getRank20" resultMap="BaseResultMap">
        select DISTINCT a.*,b.* from sign_users as a,user_message as b  where sign_type = #{signType} and a.user_id = b.user_id order by counter desc limit 20
    </select>


</mapper>